<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="table-responsive" ng-show="currentUser.role=='Admin'">
<p style="color:violet;font-size:20px;font-family:Lucida Sans Unicode">LIST OF BLOG POSTS WAITING FOR APPROVAL</p>

<table class="table">
<tr><th style="color:blue;font-size:20px;font-family:Lucida Sans Unicode">Recent Posts</th></tr>
<tr ng-repeat="blogPost in postsForApproval | orderBy:'time':true">

<td><a href="#getBlogForApproval/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By: {{blogPost.createdBy.username}}</td>
<td>Created On: {{blogPost.createdOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>

</table>
</div>

<div class="table-responsive">
<p style="color:violet;font-size:20px;font-family:Lucida Sans Unicode">LIST OF BLOG POSTS</p>>
 
<table class="table">
<tr><th style="color:blue;font-size:20px;font-family:Lucida Sans Unicode">Recent Posts</th></tr>
<tr ng-repeat="blogPost in blogPosts | orderBy:'time':true">

<td><a href="#getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By: {{blogPost.createdBy.username}}</td>
<td>Created On: {{blogPost.createdOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>

</table>
</div>
</body>
</html>


