<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
<tr ng-repeat="job in jobs">

<td><a href="" ng-click=jobDetail(job.id)>{{job.jobTitle}}</a></td>
</tr>

</table>
<div ng-show="showJobDetails">
<b style="color:blue;font-family:Lucida Sans Unicode">Description</b>: {{job.jobDescription}}<br>
<b style="color:blue;font-family:Lucida Sans Unicode">Skills Required</b>: {{job.skillsRequired}}<br>
<b style="color:blue;font-family:Lucida Sans Unicode">location</b>: {{job.location}}<br>
<b style="color:blue;font-family:Lucida Sans Unicode">Years Of Experience</b>: {{job.yrsOfExp}}<br>
<b style="color:blue;font-family:Lucida Sans Unicode">Company</b>: {{job.company}}<br>
<b style="color:blue;font-family:Lucida Sans Unicode">Posted On</b>: {{job.postedOn | date:'yyyy:MM:dd'}}<br>
<b style="color:blue;font-family:Lucida Sans Unicode">Skills Required</b>: {{job.skillsRequired}}<br>
<b style="color:blue;font-family:Lucida Sans Unicode"ng-show="currentUser.role=='Admin'">Active</b>: {{job.active}}<br>
</div>
<a href="#home">HOME PAGE</a>
</body>
</html>